@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1A1A1A;
  --foreground: #EDEDED;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
